<div [ngClass]="{'selected': selected}" class="folder-tree-row" (click)="toggleFolder()">
  <mat-icon>{{expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
  <img src="../../../../../../assets/icons/folder.png" width="16" height="16" [alt]="node.folder.name" class="folder-icon">
  <span>{{node.folder.name}}</span>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
</div>

<div *ngIf="expanded">
  <ul *ngIf="node.subFolders" class="folder-tree-children">
    <li *ngFor="let subFolder of node.subFolders">
      <app-folder-tree-node [node]="subFolder"></app-folder-tree-node>
    </li>
  </ul>
</div>
