<div class="container">
  <nav>
    <ul>
      <li class="path-root">
        <a (click)="onClick(0)">
          Mes fichiers
        </a>
      </li>
      <li *ngFor="let folder of separatedFolders$ | async | slice:1; let i = index" class="path-item">
        <mat-icon color="primary" inline="true" aria-hidden="true" class="path-item-chevron">chevron_right</mat-icon>
        <a (click)="onClick(i+1)">{{folder}}</a>
      </li>
    </ul>
  </nav>
</div>
